<turbo-stream target="instruments-list" action="replace">
  <template>
    <% @cryptocurrencies.each do |crypto| %>
      <li class="flex flex-col py-2 px-3 hover:bg-gray-800 transition">
        <%= render InstrumentComponent.new(coin: crypto) %>
      </li>
    <% end %>
  </template>
</turbo-stream>
