<div class="flex flex-row min-h-0 bg-gray-700 min-w-0" style="height:calc(100vh - 88px);">
  <!-- Весь layout теперь управляется Vue -->
  <div id="vue-instruments" data-filters='<%= current_user&.settings_with_defaults&.to_json || {}.to_json %>' class="flex-auto min-w-0 p-0 w-full"></div>
</div>