<div class="flex flex-row min-h-[calc(100vh-4rem)] bg-gray-700">
  <!-- Левая часть: график -->
  <turbo-frame id="main-chart-frame" class="w-5/6 p-2">
    <%= render 'components/chart' %>
    <div class="mt-6">
      <!-- Дополнительные графики (плейсхолдер) -->
    </div>
  </turbo-frame>
  <!-- Правая часть: инструменты -->
  <div class="w-1/6 p-2 border-l border-gray-200">
    <div>
      <div class="rounded shadow text-white mb-2 flex items-center justify-between">
        <span>Список криптовалют <i class="fa-brands fa-bitcoin"></i></span>
      </div>
      <%= render "components/search" %>
      <turbo-frame id="instruments-frame">
        <%= render InstrumentsComponent.new(cryptocurrencies: @cryptocurrencies) %>
      </turbo-frame>
    </div>
  </div>
</div>