<div class="flex flex-row min-h-[calc(100vh-4rem)] bg-gray-700">
  <!-- Левая часть: график -->
  <turbo-frame id="main-chart-frame" class="w-5/6 p-2">
    <%= render 'components/chart' %>
    <div class="mt-6">
      <!-- Дополнительные графики (плейсхолдер) -->
    </div>
  </turbo-frame>
  <!-- Правая часть: фильтры и инструменты -->
  <turbo-frame id="filters-frame" class="w-1/6 p-2 border-l border-gray-200">
    <div class="mb-6">
      <div class="rounded shadow text-white">
        <span>Фильтры <i class="fa-solid fa-filter"></i></span>
        <%= render FiltersComponent.new(q: @q) %>
      </div>
    </div>
    <div>
      <div class="rounded shadow text-white mb-2 flex items-center justify-between">
        <span>Список криптовалют <i class="fa-brands fa-bitcoin"></i></span>
      </div>
      <turbo-frame id="instruments-frame">
        <%= render InstrumentsComponent.new(cryptocurrencies: @cryptocurrencies) %>
      </turbo-frame>
    </div>
  </turbo-frame>
</div>
<%= render 'components/settings_modal' %>
