<div class="flex flex-row min-h-[calc(100vh-4rem)] bg-gray-700">
  <!-- Левая часть: график -->
  <div class="w-5/6 p-2">
    <%= render 'components/chart' %>
    <div class="mt-6">
      <!-- Дополнительные графики (плейсхолдер) -->
    </div>
  </div>
  <!-- Правая часть: фильтры и инструменты -->
  <div class="w-1/6 p-2 bg-gray-100 border-l border-gray-200">
    <div class="mb-6">
      <div class="bg-gray-800 rounded shadow text-white">
        <span>Фильтры <i class="fa-solid fa-filter"></i></span>
        <%= render 'components/filters' %>
      </div>
    </div>
    <div>
      <div class="bg-gray-800 rounded shadow text-white mb-2 flex items-center justify-between">
        <span>Список криптовалют <i class="fa-brands fa-bitcoin"></i></span>
      </div>
      <%= render 'components/instruments' %>
    </div>
  </div>
</div>
