@import "tailwindcss";
@import "flowbite/dist/flowbite.css";

@source "../../../app/views/**/*.html.erb";
@source "../../../app/views/**/*.rb";
@source "../../../app/helpers/**/*.rb";

@layer components {
  .instrument-row {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }
  .selected-instrument {
    background-image: linear-gradient(to right, var(--tw-gradient-from-green-900), var(--tw-gradient-to-green-800));
    border-width: 2px;
    border-color: rgb(34 197 94);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transform: translateY(-2px);
    position: relative;
    z-index: 10;
  }
  .hover-instrument:hover {
    background-image: linear-gradient(to right, rgb(31 41 55), rgb(55 65 81));
    border-color: rgba(34, 197, 94, 0.3);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }
}

/* Кастомный скроллбар только для блока с классом .custom-scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #008137 #23272f;   /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: #23272f;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #008137;
  border-radius: 8px;
  /* Визуальный отступ слева через box-shadow */
  box-shadow: -8px 0 0 0 #23272f;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00b050;
}