<ul class="mt-4 list-disc list-inside text-sm text-gray-200 pl-2 space-y-1">
    <li>По объему торгов</li>
    <li>По количеству сделок</li>
    <li>По росту за 24ч</li>
    <li>По падению за 24ч</li>
    <li>По алфавиту</li>
    <li>По цене</li>
    <li>По паре (BTC, ETH, USDT...)</li>
    <li>По бирже (если будет мультибиржевой режим)</li>
    <li>По наличию фьючерсов/маржи</li>
    <li>Избранное</li>
</ul>