<div class="mb-2 bg-gray-700">
  <%= render 'components/search' %>
  <%= button_tag 'Обновить', type: 'button', class: 'w-full px-3 py-1 bg-blue-600 hover:bg-blue-700 text-white text-xs font-semibold rounded shadow flex items-center justify-center transition-all', id: 'refresh-btn', data: { action: 'instruments#refresh' } %>
</div>
<ul class="mt-4 list-disc list-inside text-sm text-gray-200 pl-2 space-y-1">
    <li>По объему торгов</li>
    <li>По количеству сделок</li>
    <li>По росту за 24ч</li>
    <li>По падению за 24ч</li>
    <li>По алфавиту</li>
    <li>По цене</li>
    <li>По паре (BTC, ETH, USDT...)</li>
    <li>По бирже (если будет мультибиржевой режим)</li>
    <li>По наличию фьючерсов/маржи</li>
    <li>Избранное</li>
</ul>