<div class="flex flex-row items-center justify-between">
  <span class="font-semibold text-gray-100"><%= @coin.name || @coin.symbol %></span>
  <span class="ml-2 text-xs <%= @coin.respond_to?(:price_change_percent) && @coin.price_change_percent.to_f >= 0 ? 'text-green-400' : 'text-red-400' %>">
    <% if @coin.respond_to?(:price_change_percent) && !@coin.price_change_percent.nil? %>
      <%= number_to_percentage(@coin.price_change_percent, precision: 2) %>
    <% else %>
      <span class="text-gray-400">нет данных</span>
    <% end %>
  </span>
</div>
