<%= link_to user_google_oauth2_omniauth_authorize_path, class: "w-full flex items-center justify-center gap-2 px-4 py-2 bg-white text-gray-800 border border-gray-300 rounded hover:bg-gray-100 shadow transition-all" do %>
  <i class="fa-brands fa-google text-lg"></i>
  <span>Войти через Google</span>
<% end %>
